{% extends 'base.html.twig' %} 

{% block body %}

    <h1 class="mt-5">Remember Everything</h1>
    <p class="lead">Organize your work and declutter your life. Collect everything that matters in one place and find it when you need it, fast.
    <br>
    <a href="/sign-up">Create your free account</a>

    <br>

{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}